<?php

/**
 * ZfrForum configuration
 */
return array(
    'zfr_forum' => array(
        'db' => array(
            'table' => array(
                /**
                * The prefix to use for tables names
                */
                'prefix' => 'Zfr_'
            )
        )
    )
);